
/* MainPage */

@font-face{
    font-family: Pervitina;
    src:url(Fonts/Pervitina-Dex-FFP.ttf)
    
}

@keyframes stripes{
    0% { background-position: 0%;}
    70%{background-position: 100%;}
}

body{
    background-image: url(Images/Backgound_Body_3.png);
    background-size: 500px 500px;
}

.nav-link{
    
    color: #5A7340;
    font-family: Pervitina;
    font-size: 1.4rem;

}

.nav-link:hover{
    color:#88A66A;
}

.bg-body-tertiary-md{
    background-image: linear-gradient(180deg, black 50%, #4f4f4f) ;
}

.navbar-brand{
    font-family: Pervitina, sans-serif;
    color: white;
    font-size: 2.5rem;
    background: linear-gradient(-45deg, #425931 25%, #88A66A 25%, #88A66A 50%, #425931 50%, #425931 75%, #88A66A 75%, #88A66A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:15px 15px;
    animation: stripes 15s linear infinite;
    background-position: 0 0;
}

.navbar-brand-md{
    font-family: Pervitina, sans-serif;
    color: white;
    font-size: 2.5rem;
    background: linear-gradient(-90deg, #5A7340 25%, #88A66A 25%, #88A66A 50%, #5A7340 50%, #5A7340 75%, #88A66A 75%, #88A66A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:90px 90px;
    animation: stripes 120s linear infinite;
    background-position: 0 0;
}

.navbar{
    --bs-navbar-active-color: #88A66A;
    --bs-navbar-hover-color: #5A7340;
}

.dropdown-menu{
    color:#88A66A;
    text-decoration: underline;
    font-family: Impact;
    background-color: #4f4f4f;
}


.dropdown-item{
    color:#88A66A;
}

.dropdown-item:hover{
    background-color: #5A7340;
}

.container-md{
    background-color: rgba( 79, 79, 79, 0.97);
    outline:solid #88A66A;

}

.tittle-md{
    text-align: center;
    color: #88A66A;
    font-family: Pervitina;
}

.carousel-size{
    width: 80%;
    height: 512px;
    margin-right: auto;
    margin-left: auto;
    outline: solid #88A66A;
    outline-width: 5px; 
}

.carousel-text{
    color:whitesmoke;
    background-color:rgba(66, 89, 49, 0.79);
}

.col-sm-6{
    width: 33%;
}

.card{
    --bs-card-bg: #88a66a;
}

.card-title{
    font-family: Pervitina;
}

/*==========================================*/

/* Veiculos Aereos */

.text-bg-success-md {
    background-color: rgba( 79, 79, 79, 0.97);
    color:whitesmoke;
    outline: solid #88A66A;
}

/*==========================================*/

/* Veiculos Aquaticos */
.accordion{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.accordion-button{
    background-color: #88A66A;
    font-family: Impact;
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: #88A66A;
}

.accordion-body{
    background-color: #5A7340;
}

.image-accordion{
    width: 60%;
    height: 60%;
    outline: solid #88A66A 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*===========================================*/