.nav-link{
    
    color: red;

}

/* Editado por Breno  */
na {

    border: 30px solid blue;
    border-radius: 20px;
}

body {  
    background-image: url("../sitemilitar/45eaea0be1ffcc35e9242a09b7cb1c4e.jpg");  
    background-repeat: no-repeat; 
}
/* fim */